{% extends 'abuemp/layout.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="row">

    <div class="col-8 mx-auto mb-5 ps-4 pe-3 ">
        {% for item in categories %}
        <div class="col-11 mx-auto mt-5">
            <div class="mr-auto" id='{{item}}'><h2>{{item}}</h2></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cant</th>
                        <th scope="col">UN</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    {% if product.categoria == item %}
                        {% if product.quantity_un != 0 %}
                        <tr>
                            <td>{{ product.code }}</td>
                            <th><img src="{{ product.image.url }}" class="imgnav1" alt="{{ product.name }}"></th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity_un }}</td>
                            <td>{{ product.mesure }}</td>
                            <td>{{ product.sale_price|intcomma }}</td>
                            {% if product.quantity_un <= 5 %}
                                <td><a href="{% url 'add_product' product.id %}" type="button" class="btn btn-outline-danger btn-sm">Add</a></td>
                            {% else %}
                                <td><a href="{% url 'add_product' product.id %}" type="button" class="btn btn-outline-primary btn-sm">Add</a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <div class="col-4 mx-auto ps-3 pe-4 ">
        <div class="col-11 mx-auto">
            <h2 class="c">Caja</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">UN</th>
                        <th scope="col">PRECIO</th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.session.basket.items %}
                        {% for key, value in request.session.basket.items %}
                        <tr>
                            <td>{{ value.name }}</td>
                            <td>{{ value.quantity }}</td>
                            <td>$ {{ value.accumulated }}</td>
                            <td><a href="{% url 'add_product' value.product_id %}" class="btn btn-outline-primary btn-sm">+</a></td>
                            <td><a href="{% url 'remove_product' value.product_id %}" class="btn btn-outline-danger btn-sm">-</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-danger text-center">Sin Productos</div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <th scope="row">Total: </th>
                        <td scope="col">$ {{ total_basket }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-10 ms-4">
            <div class="row text-center">
                <div class="col-4"><a href="{% url 'clean_basket' %}" class="btn btn-outline-danger">Borrar Caja</a></div>
                <div class="col-4"><a href="{% url 'save_basket' 1 %}" class="btn btn-outline-success">Cerrar Venta</a></div>
                <div class="col-4"><a href="{% url 'save_basket' 2 %}" class="btn btn-outline-success">Nequi ~ Davi</a></div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
